proyectoInvestigacion/Interrupciones.aux
proyectoInvestigacion/Interrupciones.bbl
proyectoInvestigacion/Interrupciones.bcf
proyectoInvestigacion/Interrupciones.blg
proyectoInvestigacion/Interrupciones.log
proyectoInvestigacion/Interrupciones.run.xml
proyectoInvestigacion/Interrupciones.synctex.gz
